# Python
webapp/config.py
*.py[cod]

# KomodoEdit
*.komodoedit
.komodotools
*.komodoproject

# Mac OS-X
.DS_Store
._*
*~
.idea

# Enviroment
venv
migrations
logs/*

# Node, Bower, SASS
.sass-cache
bower_components
node_modules
tmp

# config files
config.py
feinstaub.sql
