# Python
webapp/config.py
feinstaub.sql
*.py[cod]
.flaskenv
*.db
.local
.cache

# KomodoEdit
*.komodoedit
.komodotools
*.komodoproject

# Mac OS-X
.DS_Store
._*
*~
.idea

# Enviroment
venv
logs/*
.bash_history
get-pip.py

### VisualStudioCode ###
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Node, Bower, SASS
.sass-cache
bower_components
node_modules
tmp

# vim
.ropeproject
