{% macro render_field(field, style="", class=None) %}
    {# TODO: add dropdown #}
    <div class="pb-3 {% if field.errors %} text-brand-funcRed {% endif %}">
        {% if not field.type == 'BooleanField' %}
            <label class="block text-sm font-medium text-gray-700">
                {{ field.label }}
            </label>
        {% endif %}
        {# Checkbox #}
        <div class="mt-1">
            {% if field.type == 'BooleanField' %}
                <div class="relative flex items-start">
                    <div class="flex items-center h-5">
                        {{ field(class='focus:ring-brand-green h-5 w-5 text-indigo-600 border-gray-300 rounded') }}
                    </div>
                    <div class="ml-3 text-sm">
                        {{ field.label(class="font-medium text-gray-700") }}
                        <span class="text-gray-500">{{ field.description }}</span>
                    </div>
                </div>
                {# Textarea #}
            {% elif field.type == 'TextAreaField' %}
                {{ field(class='form-textarea mt-1 block w-full border bg-gray-50 border-gray-300 rounded-md focus:ring-brand-green block w-full sm:text-sm border-gray-300 rounded-md') }}
                {# Dropdown Field #}
            {% elif field.type == 'SelectField' %}
                <div class="mt-1 flex rounded-md shadow-sm">
                    {{ field(class_="bg-brand-white relative w-full border border-gray-300 rounded-md shadow-sm p-3
        text-left  cursor-default focus:outline-none focus:ring-1 focus:ring-brand-green focus:border-brand-green
        sm:text-sm", **kwargs) }}
                </div>
            {% else %}
                {# Everything else #}
                <div class="mt-1 flex rounded-md shadow-sm">
                    {% if style == "prefix" %}
                        <span class="inline-flex items-center px-3 bg-gray-50 text-gray-500 text-sm">
                    airRohr-
                  </span>
                    {% endif %}
                    {{ field(class="input-field" + (" is-invalid" if field.errors else ""), **kwargs) }}
                </div>
                {% if not field.type == 'BooleanField' %}
                    <small class="mt-2 text-xs text-gray-500">
                        {{ field.description }}
                    </small>
                {% endif %}
                {% if field.errors %}
                    <p class="text-brand-funcRed mt-2 text-xs text-gray-500">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endmacro %}

{% macro render_submit(field, small=False) %}
    <div class="mt-4">
        {{ field(class="{% if not small %} btn btn-primary {% endif %}", **kwargs) }}
    </div>
{% endmacro %}
