{% macro render_field(field, style='horizontal', class=None) %}
    {# TODO: unify this #}
    {% if style == 'basic' %}
        <div class="form-group{% if field.errors %} has-danger{% endif %} {{ class if class != None else 'col' }}">
        {{ field.label(class='control-label') }}
        {{ field(class="form-control" + (" is-invalid" if field.errors else "")) }}
        {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if field.description %}
        <small class="form-text text-muted">
            {{ field.description }}
        </small>
        {% endif %}
    </div>
    {% elif style == 'horizontal' %}
    <div class="form-group row{% if field.errors %} has-danger{% endif %}">
        {{ field.label(class='col-form-label col-md-4') }}
        <div class="col">
        {{ field(class="form-control" + (" is-invalid" if field.errors else "")) }}
        {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% if field.description %}
        <small class="form-text text-muted">
            {{ field.description }}
        </small>
        {% endif %}
        </div>
    </div>
    {% endif %}
{% endmacro %}
