{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Imprint') }}</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>{{ _('Informations according to § 5 TMG') }}</h4>
                    <p>
                        Sensor.Community<br>
                        Stresemannstr. 94<br>
                        D-70191 Stuttgart
                    </p>
                    <br>
                    <h4>{{ _('Represented by:') }} </h4>
                    <p>
                        Rajko Zschiegner
                    </p>
                    <br>
                    <h4>{{ _('Contact:') }}  </h4>
                    <p>
                        ☎️: <a href="tel:+497119557520">+49 (0) 711 ­955 7520</a><br>
                        ✉️: <a href="mailto:info@buero-fuer-gestalten.de">contact@sensor.community</a>
                    </p>
                    <br>
                    <a href="https://github.com/ruhrmobil-E/meine-luftdaten/">{{ _('based on the concept and software development of Ernesto Ruge:') }}  </a>
                    <br>
                    {{ _('Contact: Website of Ernesto Ruge:') }}   <a href="https://sectio-aurea.org/">sectio-aurea.org</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
