{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>Impressum</h1>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Angaben gemäß § 5 TMG</h4>
                    <p>
                        Büro für Gestalten/de<br>
                        Kleine Königstr. 1<br>
                        D-70178 Stuttgart
                    </p>
                    <br>
                    <h4>Vertreten durch:</h4>
                    <p>
                        Dipl. Kommunikationsdesigner (FH) Jan A. Lutz
                    </p>
                    <br>
                    <h4>Kontakt:</h4>
                    <p>
                        Telefon: <a href="tel:+4971172237172">+49 (0) 711 ­72 23 71 – 72</a><br>
                        E-Mail: <a href="mailto:info@buero-fuer-gestalten.de">info@buero-fuer-gestalten.de</a>
                    </p>
                    <br>
                    <a href="https://github.com/ruhrmobil-E/meine-luftdaten/">basierend auf dem Konzept- und Softwareentwicklung von Ernesto Ruge</a>
                    <br>
                        Website von Ernesto Ruge: <a href="https://sectio-aurea.org/">sectio-aurea.org</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}