{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Impressum</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Angaben gemäß § 5 TMG</h4>
    <p>
      ruhrmobil-E e.V.<br>
      Königsallee 67<br>
      44791 Bochum
    </p>
    <h4>Vertreten durch:</h4>
    <p>
      Michael Teupen (Vorstandsvorsitzender)<br>
      Prof. Dr.-Ing Michael Schugt<br>
      Oliver Sagner<br>
    </p>
    <h4>Kontakt:</h4>
    <p>
      Telefon: <a href="tel:+4923452009744">+49 234 52009744</a><br>
      E-Mail: <a href="mailto:info@ruhrmobil-e.de">info@ruhrmobil-e.de</a>
    </p>
    <h4>Registereintrag:</h4>
    <p>
      Eintragung im Vereinsregister.<br>
      Registergericht: Amtsgericht in Bochum<br>
      Registernummer: VR 4072
    </p>
    <h4>Konzept- und Softwareentwicklung</h4>
    <p>
      Ernesto Ruge<br>
      Am Hertinger Tor 1<br>
      59423 Unna
    </p>
    <p>
      E-Mail: <a href="mailto:mail@ernestoruge.de">mail@ernestoruge.de</a><br>
      Telefon: <a href="tel:+4923036766916">+49 2303 6766916</a><br>
      Web: <a href="https://sectio-aurea.org/">sectio-aurea.org</a>
    </p>
  </div>
</div>
{% endblock %}