{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Willkommen!</h1>
            <p>Diese Seite dient vor allem dazu, dass Sie als Besitzer eins Feinstaub-Sensors Standort und weitere
                Parameter selbst einstellen können.</p>
            <p>Allgemeine Informationen befinden sich auf <a href="http://luftdaten.org">luftdaten.info</a>, <a
                    href="https://github.com/opendata-stuttgart/meta/raw/master/flyer/assemble_station.150dpi.pdf">die
                Bauanleitung befindet sich als PDF auf Github</a>.</p>
            <p>Die Sensordaten kann man <a href="http://deutschland.maps.luftdaten.info">auf der Feinstaub Karte
                einsehen</a> oder <a href="http://archive.luftdaten.info/">als CSVs herunterladen</a>.</p>
            <p>Wissenschaftliche Hintergrundinformationen zum Thema Feinstaub und der Messmethode finden Sie <a
                    href="https://ruhrmobil-e.de/2017/07/26/feinstaub-herkunft-gesundheitsgefahren-messungen/">auf
                unserem Blog auf ruhrmobil-E.de</a>.</p>
        </div>
    </div>
{% endblock %}
