{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <p><img src="../../static/images/logo.svg" alt="logo"/></p>
            <h1><span class="title">Luftdaten</span><br/>selber <span class="strikethrough">messen</span> konfigurieren
            </h1>
        </div>
    </div>

  <div class="arrow-separator arrow-white"></div>

    <div class="fullwidth colour1 clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <h2>{{ _('Configure Luftdaten') }}</h2>
            <p>{{ _('The main purpose of this page is to enable you, as the owner of a fine dust sensor, to configure the location and other parameters yourself. Click here to ') }} {% if not current_user.is_authenticated %}<a href="/login">Login</a>{% endif %}.</p>
            <p>{{ _('General information can be found at') }}  <a href="http://luftdaten.info">luftdaten.info</a>{{ _(', as well as the ') }}  <a href="http://luftdaten.info">{{ _('building instructions.') }} </a> {{ _('Sensor data can be found on ') }} <a href="http://deutschland.maps.luftdaten.info">{{ _('on the fine dust map') }}
                </a>{{ _('oder') }} <a href="http://archive.luftdaten.info/">{{ _('download as CSVs') }}</a>.</p>
        </div>
    </div>

    <div class="arrow-separator arrow-theme"></div>

    {#<div class="fullwidth colour2 clearfix">#}
    {#  <div id="maincont" class="bodycontainer clearfix">#}
    {#  </div>#}
    {#</div>#}
    {#    <div class="arrow-separator arrow-themelight"></div>#}


    <div class="fullwidth clearfix">
        <div class="bodycontainer clearfix">


            <h2>Mach mit!</h2>
            <p>Die Stadt der Zukunft gehört den Bürgerinnen und Bürgern. Die digitalen Werkzeuge, die Maker Bewegung und
                Citizen Science führt dazu, dass immer mehr Menschen die Möglichkeit bekommen die Stadt selber zu
                gestalten.</p><br>

                     <h2>Unterstütze uns mit einer Spende</h2>
            <p>Der reine Materialwert eines Feinstaub Messgeräts liegt bei +/- 30,00 €. Deshalb gilt als Richtwert für
                die Spende für ein Messgerät dieser Betrag. Gerne kann mehr oder weniger gespendet werden.</p>
            <p>Mehr Infos zum Spenden gibt's in der <a href="https://www.betterplace.org/de/projects/38071/"
                                                       title="Projektübersicht auf betterplace.org">Projektübersicht</a>.
            </p>

        </div>
    </div>
{% endblock %}
