{% extends "layout.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Über das Projekt</h1>
    <p>Wir sind der NRW-Ableger von luftdaten.info, der Feinstaub-Initiative aus Stuttgart. Gemeinsam mit den Stuttgartern möchten wir Luftdaten messen, so die Datenlage verbessern und eine Verbesserung der Luftqualität erzielen.</p>
    <p>Wir arbeiten eng mit dem Stuttgarter "Original" zusammen und stellen unter anderem einen internen Bereich für alle Besitzer eines Sensors zur Verfügung. In diesem Bereich können die Einstellungen und Daten der Sensoren verändert werden.</p>
    <p>Das NRW-Luftdaten-Team besteht aus verschiedenen NGOs und Privatpersonen, welche sich zu dem gemeinsamen Ziel der Luftverbesserung zusammengeschlossen haben. Betrieben wird diese Plattform vom <a href="https://ruhrmobil-e.de">ruhrmobil-E e.V..</a></p>
  </div>
</div>
{% endblock %}