{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>Unbekannte E-Mail-Adresse</h1>
                    <p>Unter dieser E-Mail-Adresse sind keine Sensoren bei uns gespeichert.</p>
                    <p>Wenn Sie der Meinung sind, doch einen Sensor unter dieser Mailadresse zu haben, senden Sie bitte
                        eine Mail an <a href="rajko@ricki-z.com">Rajko Zschiegner</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}