{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Unknown email address') }}</h1>
                    <p>{{ _('There are no sensors stored under this e-mail address.') }} </p>
                    <p>{{ _('If you are of the opinion that you have a sensor at this mail address, please send us an e-mail. Send an email to') }} 
                         <a href="rajko@ricki-z.com">Rajko Zschiegner</a>.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}