<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}meine.luftdaten.info | {{ _('user configuration') }} {% endblock %}</title>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="luftdaten.info"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://luftdaten.info/"/>
        <meta property="og:description" content="{{ _('Information and settings for the luftdaten project') }} ."/>

        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="194x194" href="/static/favicons/favicon-194x194.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/static/favicons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/favicons/site.webmanifest">
        <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#38b5ad">
        <link rel="shortcut icon" href="/static/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

    {% endblock %}

    {% block styles %}
        <link rel="stylesheet" href="/static/css/webapp.min.css?v={{ config['PROJECT_VERSION'] }}">
        <link rel="stylesheet" href="/static/fonts/fonts.css?v={{ config['PROJECT_VERSION'] }}">
    {% endblock %}
</head>
<body class="{% block bodyclass %}default{% endblock %}">
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
            <a class="navbar-brand" href="/">
            <img src="/static/images/logo-v1-white.svg" alt="" class="d-inline-block align-top" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% macro navbar_link(href, title=None, general=False) %}
                        <li class="nav-item{% if href == request.endpoint and (general or request.view_args == kwargs) %} active{% endif %}">
                        <a href="{{ url_for(href, **kwargs) }}" class="nav-link">{% if not title %}{{ caller() }}{% else %}{{ title }}{% endif %}</a>
                        </li>
                    {% endmacro %}

                    {{ navbar_link('frontend.index', _('Home')) }}

                    {% if current_user.is_authenticated  %}
                        {{ navbar_link('personal.sensor_list', _('My sensors')) }}
                        {{ navbar_link('users.settings', _('Settings')) }}
                        {{ navbar_link('security.change_password', _('Password change')) }}

                        {% if current_user.has_role('Administrator') %}
                            <li class="nav-item"><a class="nav-link" href="/admin/sensor-import">{{ _('Massimporter') }} </a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0">
                    {% if current_user.is_authenticated  %}
                        {{ navbar_link('security.logout', _('Logout')) }}
                    {% else %}
                        {{ navbar_link('security.login', _('Login')) }}
                        {{ navbar_link('security.register', _('Register')) }}
                    {% endif %}

                    <li class="nav-item dropdown">
                        {% with current_language = get_locale().language %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ config['LANGUAGES'].get(current_language) }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            {% for code, name in config['LANGUAGES'].items()|sort() %}
                            <a class="dropdown-item{% if current_language == code %} active{% endif %}" href="?lang={{ code }}">{{ name }}</a>
                            {% endfor %}
                        </div>
                        {% endwith %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<div id="content" class="container">
    {% include "messages.html" %}
    {% block content %}
    {% endblock %}
</div>

{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                <ul class="footer-list">
                    <li>
                        <a href="https://twitter.com/codefors" rel="external" target="_blank">
                            <span class="fa fa-twitter-square"></span></a>
                        <a href="https://github.com/opendata-stuttgart" rel="external" target="_blank">
                            <span class="fa fa-github-square"></span></a>
                    </li>
                    <li><a href="/imprint">{{ _('Imprint') }}</a></li>
                    <li><a href="/privacy-policy">{{ _('Privacy Policy') }}</a></li>
                </ul>
            </span>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/webapp.min.js?v={{ config['PROJECT_VERSION'] }}"></script>
{% endblock %}

</body>


</html>
