<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ _('user configuration') }} - Sensor.Community {% endblock %}</title>
        {% block head %}
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
            <meta name="description" content="{% block meta_description %}{% endblock %}"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta property="og:title" content="Configure your sensor by yourself - Sensor.Community"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="https://sensor.community/"/>
            <meta property="og:description" content="{{ _('Information and settings for the luftdaten project') }} ."/>

            <link rel="manifest" href="/static/favicons/manifest.json">
            <link rel="shortcut icon" href="/static/favicons/favicon.ico">


        {% endblock %}

        {% block styles %}
            <link rel="stylesheet" href="/static/css/webapp.css">
        {% endblock %}
    </head>
    <body class="{% block bodyclass %}default{% endblock %}">
        {% include "navbar.html" %}
        {% include "messages.html" %}

        <div class="py-16">
            {% block content %}{% endblock %}
        </div>

        {% include "footer.html" %}


        {% block scripts %}
            <script type="text/javascript" src="/static/js/webapp.min.js?v={{ config['PROJECT_VERSION'] }}"></script>
        {% endblock %}
    </body>
</html>
