{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <p><img src="../../static/images/logo.svg" alt="logo"/></p>
            <h1><span class="title">Luftdaten</span><br/>selber <span class="strikethrough">messen</span> konfigurieren
            </h1>
        </div>
    </div>
    <div class="arrow-separator arrow-white"></div>
    <div class="fullwidth colour1 clearfix">
        <div id="maincont" class="fullheight bodycontainer clearfix">
            <form method="POST" action="/login-with-password?email={{ form.email.data|urlencode }}">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Login</h1>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 {% if form.email.errors %} error{% endif %}">
                        {{ form.email(disabled=False, class="form-control",placeholder="E-Mail Adresse") }}
                    </div>
                </div>

                <div>
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-12 {% if form.password.errors %} error{% endif %}">
                        {{ form.password(class="form-control",placeholder="Passwort") }}
                    </div>
                </div>

                <div>
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12{% if form.remember_me.errors %} error{% endif %}">
                    {{ form.remember_me(class="") }} {{ form.remember_me.label }}
                </div>
                <div>
                    {% if form.remember_me.errors %}
                        {% for error in form.remember_me.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-6 offset-3">
                    {{ form.submit(class="form-control") }}
                </div>
                <br>
                <div class="col-md-12">
                    <a href="/login">Zurück zum E-Mail-Login</a> | <a
                        href="/recover?email={{ form.email.data|urlencode }}">Passwort vergessen</a>
                </div>
        </div>
        {{ form.csrf_token }}
        </form>
    </div>
    </div>

    </div>

{% endblock %}