{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<form method="POST" action="/login-with-password?email={{ form.email.data }}">
  <div class="row">
    <div class="col-md-12">
      <h1>Login</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.email.label }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6{% if form.email.errors %} error{% endif %}">
      {{ form.email(disabled=True, class="form-control") }}
    </div>
    <div>
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.password.label }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6{% if form.password.errors %} error{% endif %}">
      {{ form.password(class="form-control") }}
    </div>
    <div>
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6{% if form.remember_me.errors %} error{% endif %}">
      {{ form.remember_me(class="") }} {{ form.remember_me.label }}
    </div>
    <div>
      {% if form.remember_me.errors %}
        {% for error in form.remember_me.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ form.submit(class="form-control") }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <a href="/login">Zurück zum E-Mail-Login</a> | <a href="/recover?email={{ form.email.data }}">Passwort vergessen</a>
    </div>
  </div>
  {{ form.csrf_token }}
</form>
{% endblock %}