{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <p><img src="../../static/images/logo.svg" alt="logo"/></p>
            <h1>{{ _('Configure air data sensor yourself') }}</h1>
        </div>
    </div>
    <div class="fullwidth colour1 clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <h2>Login</h2>

            <form method="POST" action="/login">
                <div class="row">
                    <div class="col-md-10 {% if form.email.errors %} error{% endif %}">
                        {{ form.email(class="form-control", placeholder="E-Mail Adresse" ) }}
                    </div>
                    <div class="col-md-2">
                        {{ form.submit(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>

{% endblock %}
