{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
    {#    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>#}
    {#    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'/>#}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <form method="POST" action="/mein-sensor/{{ node.id }}/einstellungen" id="sensor-setting-form">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Einstellungen von Node {{ node.uid }}</h1>
                        <p>Mit diesem Formular können Sie die Daten des Sensors aktuell halten. Bitte beachten Sie
                            dabei, dass
                            nur präzise Daten zu präzisen Auswertungen führen können, mit denen wir auch politisch
                            argumentieren
                            können. Es ist also wichtig, dass die Sensor-Basisdaten immer aktuell gehalten werden.</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Basisinformationen</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.name.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3{% if form.name.errors %} has-danger{% endif %}">
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% set location = form.location %}
                <div class="row">
                    <div class="col-md-12">
                        {{ location.street_name.label }} und {{ location.street_number.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 offset-md-3{% if location.street_name.errors %} has-danger{% endif %}">
                        {{ location.street_name(class="form-control") }}
                    </div>
                    <div class="form-group col-md-2 {% if location.street_number.errors %} has-danger{% endif %}">
                        {{ location.street_number(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if location.street_name.errors %}
                            {% for error in location.street_name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if location.street_number.errors %}
                            {% for error in location.street_number.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ location.postalcode.label }} und {{ location.city.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2 offset-md-3{% if location.postalcode.errors or location.city.errors %} has-danger{% endif %}">
                        {{ location.postalcode(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4{% if location.city.errors or location.city.errors %} has-danger{% endif %}">
                        {{ location.city(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if location.postalcode.errors %}
                            {% for error in location.postalcode.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if location.city.errors %}
                            {% for error in location.city.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ location.country.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if location.country.errors %} has-danger{% endif %}">
                        {{ location.country(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if location.country.errors %}
                            {% for error in location.country.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Zusätzliche Informationen</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.height.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if form.height.errors %} has-danger{% endif %}">
                        {{ form.height(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% if form.height.errors %}
                            {% for error in form.height.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.sensor_position.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if form.sensor_position.errors %} has-danger{% endif %}">
                        {{ form.sensor_position(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        {% if form.sensor_position.errors %}
                            {% for error in form.sensor_position.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ location.industry_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if location.industry_in_area.errors %} has-danger{% endif %}">
                        {{ location.industry_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6 offset-md-3">
                        {% if location.industry_in_area.errors %}
                            {% for error in location.industry_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ location.oven_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if location.oven_in_area.errors %} has-danger{% endif %}">
                        {{ location.oven_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6 offset-md-3">
                        {% if location.oven_in_area.errors %}
                            {% for error in location.oven_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ location.traffic_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3 {% if location.traffic_in_area.errors %} has-danger{% endif %}">
                        {{ location.traffic_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6 offset-md-3">
                        {% if location.traffic_in_area.errors %}
                            {% for error in location.traffic_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12{% if form.description.errors %} has-danger{% endif %}">
                        {{ form.description.label }}
                        {{ form.description(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6 offset-md-3">
                        {{ form.submit(class="form-control btn") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Je genauere Daten wir haben, desto besser können wir die Daten auswerten und dadurch Aussagen
                            generieren. Das System versucht zwar auch so, aus der Adresse eine Geoposition zu machen,
                            aber wir
                            würden uns freuen, wenn Sie die Position mit der Karte unten noch weiter präzisieren
                            würden.</p>
                        <button type="button" class="btn btn-default" id="sensor-setting-use-address">Suche Adresse
                        </button>
                        <button type="button" class="btn btn-default" id="sensor-setting-switch-style"
                                data-style="streets">
                            Satelliten-Karte
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="sensor-settings-map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Für Interessierte: die aus der Karte resultierenden Geokoordinaten.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ location.latitude(class="form-control") }}
                    </div>
                    <div class="col-md-3">
                        {{ location.longitude(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if location.latitude.errors %}
                            {% for error in location.latitude.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if location.longitude.errors %}
                            {% for error in location.longitude.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        /*        mapboxgl.accessToken = {{ config['MAPBOX_TOKEN'] }};
        var map = new mapboxgl.Map({
            container: 'sensor-settings-map',
            style: 'mapbox://styles/mapbox/streets-v9'
        });
*/

        var mapCenter = [$('#location-latitude').val(), $('#location-longitude').val()];
        var map = L.map('sensor-settings-map', {center: mapCenter, zoom: 17});
        L.tileLayer('https://maps.luftdaten.info/tiles/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            id: 'examples.map-i875mjb7',
            noWrap: true
        }).addTo(map);
        var marker = L.marker(mapCenter).addTo(map);
        var updateMarker = function (lat, lng) {
            marker
                .setLatLng([lat, lng])
                .bindPopup("Your location :  " + marker.getLatLng().toString())
                .openPopup();
            return false;
        };
        map.on('click', function (e) {
            $('#location-latitude').val(e.latlng.lat);
            $('#location-longitude').val(e.latlng.lng);
            updateMarker(e.latlng.lat, e.latlng.lng);
        });

        function search_coords() {
            var geocode = 'http://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + $('#street_name').val() + " " + $('#street_number').val() + " " + $('#postalcode').val() + " " + $('#city').val() + " " + $('#country').val();
            $.getJSON(geocode, function (data) {
                // get lat + lon from first match
                var latlng = [data[0].lat, data[0].lon];
                console.log(latlng);
                $('#location-latitude').val(data[0].lat);
                $('#location-longitude').val(data[0].lon);
                map.setView({lat: $('#location-latitude').val(), lng: $('#location-longitude').val()}, 18);
                updateMarker($('#location-latitude').val(), $('#location-longitude').val());
            });
        }
    </script>
    {{ super() }}
{% endblock %}
