{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>Meine Sensoren</h1>
                    <p>Alle Ihrem Account zugeordneten Sensoren können Sie in dieser Übersicht finden.</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th class="hidden-sm-down">Sensor UID</th>
                            <th>Name</th>
                            <th class="hidden-md-down">Letztes Update</th>
                            <th>Funktionen</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for node in nodes %}
                            <tr>
                                <td>{{ node.id }}</td>
                                <td class="hidden-sm-down">{{ node.uid }}</td>
                                <td>{{ node.name }}</td>
                                <td class="hidden-md-down">{{ node.modified }}</td>
                                <td>
                                    <a class="dropdown-item" href="{{ url_for('personal.sensor_data', id=node.id) }}">Daten</a>
                                    <a class="dropdown-item" href="{{ url_for('personal.sensor_settings', id=node.id) }}">Einstellungen</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('personal.sensor_transfer', id=node.id) }}">Sensor
                                        übergeben</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
