{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Daten von Node {{ node.uid }}</h1>
    <p>Hier folgen die Sensordaten.</p>
    <p>Solange die Auswertung noch nicht programmiert wurde, kann man <a href="http://deutschland.maps.luftdaten.info/">auf der Luftdaten-Karte nachschauen</a>, ob der Sensor vorhanden ist. Nach dem ersten Speichern des Sensors wird es etwa fünf Minuten brauchen, bis der Sensor auf der Karte sichtbar wird.</p>
    <p>Wer die Auswertung hier mitentwicken möchte, kann sich gerne <a href="https://github.com/ruhrmobil-E/meine-luftdaten">auf Github beteiligen</a>.</p>
  </div>
</div>
{% endblock %}
