{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <form method="POST" action="/mein-sensor/{{ node.id }}/einstellungen" id="sensor-setting-form">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Einstellungen von Node {{ node.uid }}</h1>
                        <p>Mit diesem Formular können Sie die Daten des Sensors aktuell halten. Bitte beachten Sie
                            dabei, dass
                            nur präzise Daten zu präzisen Auswertungen führen können, mit denen wir auch politisch
                            argumentieren
                            können. Es ist also wichtig, dass die Sensor-Basisdaten immer aktuell gehalten werden.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.name.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.name.errors %} has-danger{% endif %}">
                        {{ form.name(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.name.errors %}
                            {% for error in form.name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.street_name.label }} und {{ form.street_number.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4{% if form.street_name.errors %} has-danger{% endif %}">
                        {{ form.street_name(class="form-control") }}
                    </div>
                    <div class="form-group col-md-2{% if form.street_number.errors %} has-danger{% endif %}">
                        {{ form.street_number(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.street_name.errors %}
                            {% for error in form.street_name.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if form.street_number.errors %}
                            {% for error in form.street_number.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.postalcode.label }} und {{ form.city.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2{% if form.postalcode.errors or form.city.errors %} has-danger{% endif %}">
                        {{ form.postalcode(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4{% if form.city.errors or form.city.errors %} has-danger{% endif %}">
                        {{ form.city(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.postalcode.errors %}
                            {% for error in form.postalcode.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if form.city.errors %}
                            {% for error in form.city.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.country.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.country.errors %} has-danger{% endif %}">
                        {{ form.country(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.country.errors %}
                            {% for error in form.country.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.height.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.height.errors %} has-danger{% endif %}">
                        {{ form.height(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.height.errors %}
                            {% for error in form.height.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.sensor_position.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.sensor_position.errors %} has-danger{% endif %}">
                        {{ form.sensor_position(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.sensor_position.errors %}
                            {% for error in form.sensor_position.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.industry_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.industry_in_area.errors %} has-danger{% endif %}">
                        {{ form.industry_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.industry_in_area.errors %}
                            {% for error in form.industry_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.oven_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.oven_in_area.errors %} has-danger{% endif %}">
                        {{ form.oven_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.oven_in_area.errors %}
                            {% for error in form.oven_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.traffic_in_area.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6{% if form.traffic_in_area.errors %} has-danger{% endif %}">
                        {{ form.traffic_in_area(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.traffic_in_area.errors %}
                            {% for error in form.traffic_in_area.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12{% if form.description.errors %} has-danger{% endif %}">
                        {{ form.description.label }}
                        {{ form.description(class="form-control") }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ form.submit(class="form-control") }}
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Je genauere Daten wir haben, desto besser können wir die Daten auswerten und dadurch Aussagen
                            generieren. Das System versucht zwar auch so, aus der Adresse eine Geoposition zu machen,
                            aber wir
                            würden uns freuen, wenn Sie die Position mit der Karte unten noch weiter präzisieren
                            würden.</p>
                        <button type="button" class="btn btn-default" id="sensor-setting-use-address">Suche Adresse
                        </button>
                        <button type="button" class="btn btn-default" id="sensor-setting-switch-style"
                                data-style="streets">
                            Satelliten-Karte
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="sensor-settings-map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Für Interessierte: die aus der Karte resultierenden Geokoordinaten.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ form.lat(class="form-control") }}
                    </div>
                    <div class="col-md-3">
                        {{ form.lon(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if form.lat.errors %}
                            {% for error in form.lat.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if form.lon.errors %}
                            {% for error in form.lon.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
            </div>
    </div>
{% endblock %}
{% block scripts %}

    <script>
    mapboxgl.accessToken = {{ config['MAPBOX_TOKEN'] }};
var map = new mapboxgl.Map({
    container: 'sensor-settings-map',
    style: 'mapbox://styles/mapbox/streets-v9'
});
    </script>
    {{ super() }}
{% endblock %}

