{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Meine Luftdaten</h1>
    <p>Ihr persönlicher Bereich.</p>
    <h2><a href="/meine-sensoren">Sensoren</a></h2>
    <p>Daten und Einstellungen der Sensoren einsehen und verändern.</p>
    <h2><a href="/meine-einstellungen">Einstellungen</a></h2>
    <p>Daten, Benachrichtigungseinstellungen und Passwörter einsehen und verändern.</p>
    <h2><a href="/mein-passwort">Passwort</a></h2>
    <p>Passwort ändern.</p>
    <h2><a href="/mein-passwort">Logout</a></h2>
    <p>Ausloggen.</p>
  </div>
</div>
{% endblock %}
