{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <form method="POST" action="/meine-einstellungen">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Einstellungen</h1>
                        <p>Hier können Sie Ihre Einstellungen ändern.</p>
                    </div>
                </div>

            {{ render_field(form.first_name) }}
            {{ render_field(form.last_name) }}
            {{ render_submit(form.submit) }}

            {{ form.csrf_token }}
            </form>
        </div>
    </div>

{% endblock %}
