{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <form method="POST" action="/mein-passwort">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Einstellungen</h1>
                        <p>Hier können Sie Ihr Passwort ändern.</p>
                    </div>
                </div>

                {{ render_field(form.old_password) }}
                {{ render_field(form.new_password) }}
                {{ render_field(form.confirm) }}
                {{ render_submit(form.submit) }}

                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}
