{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
        <div class="half clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <h1><span class="title">{{ _('Meine Luftdaten') }}</span><br/>{{  _('Your personal area.') }}</h1>
        </div>
    </div>
    <div class="fullwidth clearfix">
        <div class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h2><a href="/my-sensors">{{ _('Sensors') }}</a> </h2>
                    <p>{{  _('View and change sensor data and settings.') }} </p>
                    <h2><a href="/my-settings">{{ _('Settings') }}</a> </h2>
                    <p>{{  _('View and change data, notification settings and passwords.') }} </p>
                    <h2><a href="/my-password">{{ _('Password') }}</a> </h2>
                    <p>{{  _('Change password.') }} </p>
                    <h2><a href="/logout">{{  _('Logout') }}</a> </h2>
                    <p>{{  _('Logout.') }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
