{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
    {#    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>#}
    {#    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet'/>#}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <form method="POST" action="/mein-sensor/{{ node.id }}/einstellungen" id="sensor-setting-form">
                <h1>Einstellungen von Node {{ node.uid }}</h1>
                <p>Mit diesem Formular können Sie die Daten des Sensors aktuell halten. Bitte beachten Sie
                    dabei, dass
                    nur präzise Daten zu präzisen Auswertungen führen können, mit denen wir auch politisch
                    argumentieren
                    können. Es ist also wichtig, dass die Sensor-Basisdaten immer aktuell gehalten werden.</p>

                <h2>Basisinformationen</h2>

                {{ render_field(form.name) }}

                {% set location = form.location %}
                <div class="row">
                    {{ render_field(location.street_name, 'basic') }}
                    {{ render_field(location.street_number, 'basic') }}
                </div>

                <div class="row">
                    {{ render_field(location.postalcode, 'basic', 'col-md-3') }}
                    {{ render_field(location.city, 'basic', 'col-md-5') }}
                    {{ render_field(location.country, 'basic') }}
                </div>


                <h2>Zusätzliche Informationen</h2>
                {{ render_field(form.height) }}
                {{ render_field(form.sensor_position) }}
                {{ render_field(location.industry_in_area) }}
                {{ render_field(location.oven_in_area) }}
                {{ render_field(location.traffic_in_area) }}

                <div class="row">
                    <div class="form-group col-md-6 offset-md-3">
                        {{ form.submit(class="form-control btn btn-primary") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Je genauere Daten wir haben, desto besser können wir die Daten auswerten und dadurch Aussagen
                            generieren. Das System versucht zwar auch so, aus der Adresse eine Geoposition zu machen,
                            aber wir
                            würden uns freuen, wenn Sie die Position mit der Karte unten noch weiter präzisieren
                            würden.</p>
                        <button type="button" class="btn btn-default" id="sensor-setting-use-address">Suche Adresse
                        </button>
                        <button type="button" class="btn btn-default" id="sensor-setting-switch-style"
                                data-style="streets">
                            Satelliten-Karte
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="sensor-settings-map"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Für Interessierte: die aus der Karte resultierenden Geokoordinaten.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ location.latitude(class="form-control") }}
                    </div>
                    <div class="col-md-3">
                        {{ location.longitude(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {% if location.latitude.errors %}
                            {% for error in location.latitude.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        {% if location.longitude.errors %}
                            {% for error in location.longitude.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}
