{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Sensor ') }}   {{ node.uid }} {{ _('was handed over.') }}  </h1>
                    <p>{{ _('An e-mail was sent to the new owner') }}  </p>
                    <p><a href="/meine-sensoren">{{ _('Back to my sensors') }}  </a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
