{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Data from Node') }}  {{ node.uid }}</h1>
                    <p>{{ _('Typically, two sensors are attached to each node: the fine dust sensor and the
                        Humidity and temperature sensor. The sensor number can also be found') }} <a
                                href="https://maps.sensor.community/" target="_blank">{{ _('on the fine dust map again') }}</a>.</p>
                    {% for sensor in sensors %}
                        <h2>{{ _(sensor['sensor_type_name']) }}</h2>
                        <table class="table">
                            <tr>
                                <th>Sensor ID:</th>
                                <td>{{ sensor['id'] }}
				{% if sensor['data'] %}
					(<a href="https://maps.sensor.community/#15/{{ sensor['data']['location']['latitude'] }}/{{ sensor['data']['location']['longitude'] }}" target="_blank">{{ _('show on map') }}</a>)
				{% endif %}
				</td>
                            </tr>
                            {% if sensor['data'] %}
                                <tr>
                                    <th>{{ _('Last updated:') }} </th>
                                    <td>{{ sensor['data']['timestamp']|datetime }}</td>
                                </tr>
                                {% for sensor_value in sensor['data']['sensordatavalues'] %}
                                    <tr>
                                        <th>{{ _(sensor_value['value_type_name']) }}:</th>
                                    {% if sensor_value['value_type_name'] == 'Pressure' or sensor_value['value_type_name'] == 'Pressure at sea level'%}
                                        <td>{{ '%0.2f'| format(sensor_value['value']|float / 100) }} {{ sensor_value['value_type_unit'] }}</td>
                                    {% else %}
                                        <td>{{ sensor_value['value'] }} {{ sensor_value['value_type_unit'] }}</td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan="2">{{ _('No current data are available for this sensor.') }}</td></tr>
                            {% endif %}
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
