{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit %}


{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="overflow-hidden lg:relative">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-6">
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-4xl font-extrabold text-black tracking-tight">
                        {{ _('Account Settings') }}
                    </h1>
                </div>
                <p class="mt-6 text-xl ">
                    {{ _('Here you can change your settings.') }}
                </p>
            </div>
        </div>
    </div>
    <div class="overflow-hidden lg:relative lg:py-12 bg-gradient-to-b from-brand-white to-gray-50">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-10 sm:mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-gray-900">Personal</h3>
                            <p class="mt-1 text-sm text-gray-600">
                            </p>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2">
                        <form method="POST" action="{{ url_for('.settings') }}">
                            <div class="shadow sm:rounded-md sm:overflow-hidden">
                                <div class="px-4 py-5 bg-brand-white space-y-6 sm:p-6 block">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-3">
                                            {{ render_field(form.first_name) }}
                                        </div>

                                        <div class="col-span-6 sm:col-span-3 block">
                                            {{ render_field(form.last_name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                    {{ form.submit(class="btn-small btn-small-primary") }}
                                </div>
                            </div>
                            {{ form.csrf_token }}
                        </form>
                    </div>
                </div>
            </div>

            <div class="hidden sm:block" aria-hidden="true">
                <div class="py-5">
                    <div class="border-t border-gray-200"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gradient-to-b from-gray-50 to-brand-white py-12"></div>

{% endblock %}
