{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="overflow-hidden lg:relative">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-6">
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-4xl md:text-4xl font-extrabold text-black tracking-tight">
                        {{ _('My sensors') }}
                    </h1>
                </div>
                <p class="mt-6 text-xl ">
                    {{ _('All sensors assigned to your account can be found in this overview.') }}
                </p>
            </div>
        </div>
    </div>
    <div class="pt-8 overflow-hidden lg:relative lg:py-12">
        <div class="mx-auto text-left max-w-md px-4 sm:max-w-3xl lg:max-w-7xl">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {% for node in nodes %}
                    <div class="border-gray-300 border border-gray-200 border-solid
                    md:flex md:flex-col rounded-2xl shadow-md">
                        <div class="p-6 md:flex-grow md:flex md:flex-col">
                            <h3 class="text-2xl font-semibold text-gray-800 md:flex-grow">{{ node
                            .name }}</h3>
                            <div class="md:flex-grow-0">
                                <div class="flex items-center mt-10 text-gray-700">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg"
                                         fill="none" viewBox="0
                                     0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                                    </svg>

                                    <h4 class="px-2 text-sm">{{ _('Last Update') }}: {{ node.modified }} UTC</h4>
                                </div>

                                <div class="flex items-center mt-4 text-gray-700">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0
                                  24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"/>
                                    </svg>

                                    <h4 class="px-2 text-sm flex flex-grow-0 flex-row"> {{ _('Sensor UID') }}: {{ node.uid }}</h4>
                                </div>

                                <div class="flex items-center mt-4 text-gray-700">
                                    <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                              d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"/>
                                    </svg>
                                    <h4 class="px-2 text-sm">{{ _('Node ID') }}: {{ node.id }} </h4>
                                </div>
                            </div>
                        </div>
                        <div class="gap-2 bg-gray-50 p-6 grid grid-cols-2 md:grid-cols-none md:flex-row md:flex">
                            <a href="{{ url_for('personal.sensor_data', id=node.id) }}"
                               class="btn-small btn-small-secondary">{{ _('Data') }}</a>
                            <a href="{{ url_for('personal.sensor_settings', id=node.id) }}"
                               class="btn-small btn-small-secondary">{{ _('Settings') }} </a>
                            <a href="{{ url_for('personal.sensor_transfer', id=node.id) }}"
                               class="btn-small btn-small-secondary">{{ _('Transfer') }}</a>
                            <a href="{{ url_for('personal.sensor_delete', id=node.id) }}"
                               class="btn-small btn-small-delete">{{ _('Delete') }}</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="w-48 mx-auto my-auto">
                    <a href="{{ url_for('.sensor_register') }}">
                        <div class="relative shadow-md rounded-2xl border-2 p-12
                        hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2
                        focus:ring-brand-green border-gray-300 border-dashed text-center text-gray-500 hover:text-brand-black">
                            <svg class="mx-auto h-12 w-12" xmlns="http://www.w3.org/2000/svg"
                                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M12 4v16m8-8H4"/>
                            </svg>
                            <span class="mt-2 block font-medium">{{ _('Register new
                            sensor') }}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:relative lg:py-32"></div>

{% endblock %}
