{% extends "layout.html" %}


{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-6">
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-4xl md:text-5xl font-extrabold text-black tracking-tight sm:text-5xl">
                        {{ _('Data from Node') }} {{ node.uid }}
                    </h1>
                </div>
                <p class="mt-6 text-xl ">
                    {{ _('Typically, two sensors are attached to each node: the fine dust sensor and the
                        Humidity and temperature sensor. The sensor number can also be found') }} <a
                        href="https://maps.sensor.community/" target="_blank">{{ _('on the fine dust map') }}</a>
                </p>
            </div>
        </div>
    </div>
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-12 bg-gradient-to-b from-brand-white to-gray-50">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            {% for sensor in sensors %}
                <h3 class="text-2xl font-semibold text-gray-800 md:flex-grow mt-8">{{ _(sensor['sensor_type_name']) }} {{ sensor['sensor_type_id'] }}</h3>
                <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="mt-4 align-middle inline-block min-w-full">
                        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                                <tr>
                                    <th class="text-md">Sensor ID:</th>
                                    <td>{{ sensor['id'] }}
                                        {% if sensor['data'] %}
                                            (
                                            <a href="https://maps.sensor.community/#15/{{ sensor['data']['location']['latitude'] }}/{{ sensor['data']['location']['longitude'] }}"
                                               target="_blank">{{ _('show on map') }}</a>)
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if sensor['data'] %}
                                    <tr>
                                        <th>{{ _('Last updated:') }} </th>
                                        <td>{{ sensor['data']['timestamp']|datetime }}</td>
                                    </tr>
                                    {% for sensor_value in sensor['data']['sensordatavalues'] %}
                                        <tr>
                                            <th>{{ _(sensor_value['value_type_name']) }}:</th>
                                            {% if sensor_value['value_type_name'] == 'Pressure' or sensor_value['value_type_name'] == 'Pressure at sea level' %}
                                                <td>{{ '%0.2f'| format(sensor_value['value']|float / 100) }} {{ sensor_value['value_type_unit'] }}</td>
                                            {% else %}
                                                <td>{{ sensor_value['value'] }} {{ sensor_value['value_type_unit'] }}</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">{{ _('No current data are available for this sensor.') }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
