{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
    <form method="POST" action="{{ url_for('.sensor_settings', id=node.id) }}" id="sensor-setting-form">
        <h1>{{ _('Settings of Node %(node_id)s', node_id=node.uid) }}</h1>
        <p>{{ _('With this form you can keep the data of the sensor up to date. Please note that only precise data can lead to precise evaluations with which we can also argue politically. It is therefore important that the basic sensor data is always kept up to date.') }}  </p>

        {% include "sensor-settings-form.html" with context %}
    </form>
{% endblock %}
