{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}

    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-6">
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-5xl font-extrabold text-black tracking-tight sm:text-5xl">
                        {{ _('Settings of your node %(node_id)s', node_id=node.uid) }}
                    </h1>
                    <p class="mt-6 text-xl antialiased">
                        {{ _('Please note that only precise data can lead to precise evaluations with which we
                            can also argue politically. Therefore it is important that the basic information is
                            always kept up to date.') }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gradient-to-b from-brand-white via-gray-50 to-brand-white">
        <form method="POST" action="{{ url_for('.sensor_settings', id=node.id) }}" id="sensor-setting-form">
            <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-12">
                <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
                    {% include "sensor-settings-form.html" with context %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}
