{% block header %}
    <div class="bg-brand-green sticky top-0 z-40">
        <div class="max-w-7xl mx-auto px-6 lg:px-4 relative">
            <div class="flex justify-between py-5 lg:justify-start lg:space-x-10 font-semibold text-brand-white">
                <div class="lg:w-0 lg:flex-1 justify-end">
                    <a class="block uppercase " href="/">
                        <img alt="sensor community logo" class="h-8 w-auto" src="/static/images/signet.svg">
                    </a>
                </div>
                <nav class="hidden lg:flex space-x-10">
                    {% macro navbar_link(href, title=None, general=False) %}
                        <a class="text-base leading-6 {% if href == request.endpoint and (general or request
                        .view_args == kwargs) %} {% endif %}"
                           href="{{ url_for(href, **kwargs) }}">
                            {% if not title %}{{ caller() }}{% else %}{{ title }}{% endif %}
                        </a>
                    {% endmacro %}

                    {% if current_user.is_authenticated %}
                        {{ navbar_link('personal.sensor_list', _('My sensors')) }}
                        {{ navbar_link('users.settings', _('Settings')) }}
                        {{ navbar_link('security.change_password', _('Password change')) }}
                    {% endif %}
                    <div class="pr-40"></div>
                </nav>
                <div class="hidden lg:flex items-center justify-end space-x-8 lg:flex-1 lg:w-0 z-50 -mt-2 text-sm">
                    <div class="flex">
                        <a href="https://sensor.community/" target="_blank" class="mr-1 font-light">
                            Mainpage
                        </a>
                        <span class="transform -rotate-45">&rarr;</span>
                    </div>
                    <div class="flex">
                        <a href="https://forum.sensor.community/" target="_blank" class="mr-1 font-light">Forum</a>
                        <span class="transform -rotate-45">&rarr;</span>
                    </div>
                    <div class="flex">
                        {% with current_language = get_locale().language %}
                            <button type="button"
                                    class="inline-flex justify-center w-full rounded-md shadow-sm
                                px-4 py-2 text-brand-white bg-brand-green text-sm font-light"
                                    id="languageDropdown" aria-expanded="true" aria-haspopup="true">
                                {{ config['LANGUAGES'].get(current_language) }}
                                <svg id="" class="chevron -mr-1 ml-2 h-5 w-5 transform rotate-0"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20"
                                     fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </button>

                            <div id="dropdown" class="hidden origin-top-right absolute right-0 w-36 mt-16 rounded-md
                            shadow-lg bg-brand-white transform"
                                 role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                 tabindex="-1">
                            <div class="py-1" role="none">
                                {% for code, name in config['LANGUAGES'].items()|sort() %}
                                    <a href="?lang={{ code }}"
                                       class="option text-gray-700 block px-4 py-2 text-sm {% if current_language ==
                                       code %} active{% endif %}"
                                       role="menuitem" tabindex="-1"
                                       id="menu-item-0">{{ name }}</a>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        </div>
                    </div>
                    <div class="hidden lg:flex">
                        {% if current_user.is_authenticated %}
                            {{ navbar_link('security.logout', _('Logout')) }}
                        {% endif %}
                    </div>

                </div>
                <div class="flex justify-between font-semibold text-brand-white lg:hidden">
                    <div class="flex">
                        {% with current_language = get_locale().language %}
                            <button type="button"
                                    class="languageDropdown inline-flex justify-center w-full rounded-md shadow-sm
                                px-4 py-2 text-brand-white bg-brand-green text-sm font-light"
                                    aria-expanded="true" aria-haspopup="true">
                                {{ config['LANGUAGES'].get(current_language) }}
                                <svg class="chevron -mr-1 ml-2 h-5 w-5 transform rotate-0"
                                     xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20"
                                     fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                          d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </button>
                            <div class="dropdown hidden origin-top-right absolute right-0 w-40 mt-16 rounded-md
                            shadow-lg bg-brand-white ring-1 ring-black ring-opacity-5 focus:outline-none transform"
                                 role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                 tabindex="-1">
                            <div class="py-1" role="none">
                                {% for code, name in config['LANGUAGES'].items()|sort() %}
                                    <a href="?lang={{ code }}"
                                       class="option text-gray-700 block px-4 py-2 text-sm {% if current_language ==
                                       code %} active{% endif %}"
                                       role="menuitem" tabindex="-1"
                                       id="menu-item-0">{{ name }}</a>
                                {% endfor %}
                            </div>
                        {% endwith %}
                        </div>
                    </div>

                    <div class="m-1.5 mx-2 border-r-2 border-brand-white"></div>
                    <button id="mobileMenuButton"
                            class="inline-flex items-center justify-center p-2 rounded-md text-brand-white -mr-2 -my-2"
                            type="button">
                        <svg class="h-7 w-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M4 6h16M4 12h16M4 18h16"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Mobile menu-->
    {# Todo: JavaScript to open and close menu #}
    <div id="mobileMenu" class="hidden bg-brand-green sticky top-0 z-50">
        <div class="bg-brand-green h-screen absolute inset-x-0 transition transform origin-top-right lg:hidden transition duration-200">
            <div class="divide-y-2">
                <div class="mt-10 px-5 space-y-6 text-brand-white">
                    <nav class="grid">
                        {% macro navbar_link(href, title=None, general=False) %}
                            <a class="flex py-4"
                               href="{{ url_for(href, **kwargs) }}">
                                <div class="text-2xl leading-6 font-bold flex-1">
                                    {% if not title %}{{ caller() }}{% else %}{{ title }}{% endif %}
                                </div>
                                <span class="text-2xl">&nbsp&rarr;</span>
                            </a>
                        {% endmacro %}

                        {% if current_user.is_authenticated %}
                            {{ navbar_link('personal.sensor_list', _('My sensors')) }}
                            {{ navbar_link('users.settings', _('Settings')) }}
                            {{ navbar_link('security.change_password', _('Password change')) }}

                            {% if current_user.is_authenticated %}
                                {{ navbar_link('security.logout', _('Logout')) }}
                            {% endif %}
                        {% endif %}

                        <hr class="my-3">

                        <a class="flex py-3 mr-2"
                           href="{lang}/sensors/">
                    <span class="pl-2 text-base font-extralight">
                        Github
                    </span>
                            <span class="transform -rotate-45">&rarr;</span>
                        </a>

                        <a class="flex py-3 mr-2"
                           href="{lang}/sensors/">
                    <span class="pl-2 text-base font-extralight">
                        Mainpage
                    </span>
                            <span class="transform -rotate-45">&rarr;</span>
                        </a>

                        <a class="flex py-3 mr-2"
                           href="{lang}/sensors/">
                    <span class="pl-2  text-base font-extralight">
                        Map
                    </span>
                            <span class="transform -rotate-45">&rarr;</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script type="text/javascript">
    {# https://www.freecodecamp.org/news/how-to-create-a-dropdown-menu-with-css-and-javascript/  #}

    function toggleMenuDisplay(selector) {
        const menu = document.querySelector(selector);
        const icon = document.querySelector('#languageDropdown .chevron');

        toggleClass(menu, 'hidden');
        toggleSVGClass(icon, 'rotate-180');
    }

    function toggleMobileMenu() {
        const menu = document.querySelector('#mobile-menu')
        toggleClass(menu, 'hidden');
    }

    function toggleClass(elem, className) {
        if (elem.className.indexOf(className) !== -1) {
            elem.className = elem.className.replace(className, '');
        } else {
            elem.className = elem.className.replace(/\s+/g, ' ') + ' ' + className;
        }
        return elem;
    }

    function toggleSVGClass(elem, className) {
        if (elem.className.baseVal.indexOf(className) !== -1) {
            elem.className.baseVal = elem.className.baseVal.replace(className, '');
        } else {
            elem.className.baseVal = elem.className.baseVal.replace(/\s+/g, ' ') + ' ' + className;
        }
        return elem;
    }

    //get elements
    const dropdownTitle = document.querySelector('.languageDropdown');
    const mobileMenu = document.querySelector('#mobileMenuButton');

    dropdownTitle.addEventListener('click', function () {
        toggleMenuDisplay('.dropdown')
    });
    mobileMenu.addEventListener('click', function () {
        toggleMenuDisplay('#mobileMenu')
    });
</script>