{% extends "layout.html" %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="maincont" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Privacy Policy') }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>{{ _('The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and according to the legal data protection regulations as well as this data protection explanation.') }}
                        </p>
                    <p>{{ _('The use of our website is generally possible without providing personal data. Insofar as personal data (e.g. name, address or e-mail addresses) is collected on our pages, this is always done on a voluntary basis as far as possible. This data will not be passed on to third parties without your express consent.') }}
                        </p>
                    <p>{{ _('We would like to point out that data transmission via the Internet (e.g. communication via e-mail) may have security gaps. A complete protection of the data against the access by third is not possible.') }}
                        </p>
                    <h2>{{ _('Information, deletion, blocking') }} </h2>
                    <p>{{ _('You have the right at any time to free information about your stored personal data, their origin and recipient and the purpose of data processing as well as a right to correction, blocking or deletion of this data. You can contact us at any time at the address given in the imprint for this and other questions on the subject of personal data.') }} </p>
                    <h2>{{ _('Cookies') }} </h2>
                    <p>{{ _('Some of the Internet pages use so-called cookies. Cookies do not damage your computer and do not contain viruses. Cookies serve to make our offer more user-friendly, more effective and safer. Cookies are small text files that are stored on your computer by your browser.') }} </p>
                    <p>{{ _('Most of the cookies we use are so-called "session cookies". They are automatically deleted at the end of your visit. Other cookies remain stored on your terminal until you delete them. These cookies enable us to recognize your browser during your next visit.') }} </p>
                
                    <h2>{{ _('Account and sensor data') }} </h2>
                    <p>{{ _('The measurement data of the sensors are collected on the server of the luftdaten.info and are publicly accessible to the company. The following information will be published:') }} </p>
                    <ul>
                        <li>{{ _('The anonymized geoposition (longitude and latitude) rounded to approx. 100 m.') }}  </li>
                        <li>{{ _('The ID of your ESP8266 NodeMCU board') }} </li>
                        <li>{{ _('The given numerical description of the environment') }} </li>
                        <li>{{ _('The sensor height') }} </li>
                        <li>{{ _('The description as text') }} </li>
                    </ul>
                    <p>{{ _('The following additional data will be stored for internal processing, but will not be published:') }} </p>
                    <ul>
                        <li>{{ _('The postal address of the sensor') }} </li>
                        <li>{{ _('The e-mail address') }} </li>
                        <li>{{ _('Your first and last name') }} </li>
                    </ul>
                    <h2>{{ _('Server log files') }} </h2>
                    <p>{{ _('Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log  Files, die Ihr Browser automatisch an uns übermittelt. Dies sind:') }} </p>
                    <ul>
                        <li>{{ _('Browser type / browser version') }} </li>
                        <li>{{ _('used operating system') }} </li>
                        <li>{{ _('Referrer URL') }} </li>
                        <li>{{ _('Hostname of the accessing computer') }} </li>
                        <li>{{ _('Time of the server request') }} </li>
                    </ul>
                    <p>{{ _('These data cannot be assigned to specific persons. This data will not be merged with other data sources. We reserve the right to subsequently check this data if we become aware of concrete indications of illegal use.') }} </p>
                    <h2>{{ _('Contradiction advertising mails') }}</h2>
                    <p>{{ _('We hereby object to the use of contact data published within the scope of the imprint obligation to send unsolicited advertising and information material. The operators of this website expressly reserve the right to take legal action against unsolicited mailing or e-mailing of spam and other similar advertising materials.') }} </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}