{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <form method="POST" action="/recover-check?id={{ url_id }}">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Passwort setzen</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.password.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1{% if form.password.errors %} error{% endif %}">
                        {{ form.password(class="form-control") }}
                    </div>
                    <div>
                        {% if form.password.errors %}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.password_repeat.label }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1{% if form.password_repeat.errors %} error{% endif %}">
                        {{ form.password_repeat(class="form-control") }}
                    </div>
                    <div>
                        {% if form.password_repeat.errors %}
                            {% for error in form.password_repeat.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        {{ form.submit(class="form-control") }}
                    </div>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
    </div>
{% endblock %}
