{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ _('Set password Error') }} </h1>
                    <p>{{ _('Unfortunately the link is not correct. Either it is too old, or it was not copied completely. Please try again.') }}  </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
