{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="fullwidth clearfix">
                <div id="topcontainer" class="bodycontainer clearfix">
                    <h1>{{ _('Activation required') }}</h1>
                    <p>{{ _('Since you are logging in for the first time, your e-mail address must be confirmed. Please look in your mailbox to get access to your sensors.') }} </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}