{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
          <div class="fullwidth clearfix">
        <div id="topcontainer" class="bodycontainer clearfix">
    <h1>Aktivierung erforderlich</h1>
    <p>Da Sie sich zum ersten Mal einloggen möchten, muss Ihre E-Mail Adresse bestätigt werden. Bitte schauen Sie also in Ihr Postfach, um Zugriff auf Ihre Sensoren zu erhalten.</p>
              </div>
</div>
  </div>
</div>
{% endblock %}