{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="robots" content="noindex">
{% endblock %}

{% block content %}
<form method="POST" action="/register-minimal?email={{ form.email.data|urlencode }}">
  <div class="row">
    <div class="col-md-12">
      <h1>Registrierung</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ form.email.label }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6{% if form.email.errors %} error{% endif %}">
      {{ form.email(disabled=True, class="form-control") }}
    </div>
    <div>
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6{% if form.privacy.errors %} error{% endif %}">
      {{ form.privacy(class="") }} {{ form.privacy.label }}
    </div>
    <div>
      {% if form.privacy.errors %}
        {% for error in form.privacy.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{ form.submit(class="form-control") }}
    </div>
  </div>
  {{ form.csrf_token }}
</form>
{% endblock %}