{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="fullwidth clearfix">
                <div id="maincont" class="bodycontainer clearfix">
                    <form method="POST" action="/admin/sensor-import">

                        <h1>{{ _('Sensor mass importer') }}</h1>
                        <p>{{ _('With this form new nodes can be imported in masses. One node per line is expected in the following format:') }}</p>
                        <p><code>123456 demo@sensor.community</code></p>
                        <p>{{ _('123456 is the ID of the ESP8266 board, the e-mail is the address of the future
                            of the owner. If this is not fixed, only the Node-ID can be specified, which is
                            E-mail must then be added later.') }} </p>
                        <p>{{ _('If an email address has been specified, the owner will be notified with an email about their
                            new sensor.') }}</p>

                        <div class="col-md-10 offset-1">
                            {{ form.data_field.label }}
                        </div>
                        <div class="col-md-10 offset-1">
                            {{ form.data_field(class="form-control") }}
                        </div>
                        <div class="col-md-10 offset-1">
                            {{ form.submit(class="form-control") }}
                        </div>
                        {{ form.csrf_token }}

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}