{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="fullwidth clearfix">
                <div id="maincont" class="bodycontainer clearfix">
                    <h1>{{ _('Sensor Mass Import: Status') }} </h1>
                    <p>{{ _('You can see all current imports in this overview. Click on Reload to update the status.') }} </p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{{ _('ID') }} </th>
                            <th>{{ _('Data (Start)') }} </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task_item in task_items %}
                            <tr>
                                <td>{{ task_item.id }}</td>
                                <td>{{ task_item.first_line }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
