<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>{{ _('Hello,') }} </p>

        <p>{{ _('in order to manage your sensor in the future, we have created an account for you. Please enter a password under the following link: ') }} {{ recover_url }} </p>
        <p>{{ _('If you have not created an account on Sensor.Community, you can ignore this e-mail.') }}</p>
        <p>{{ _('Sincerely,
            Your Sensor.Community team') }}
        </p>
    </body>
</html>



