<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content="{% block meta_description %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>{{_('Hello,') }} </p>

<p>{{_('a particulate matter sensor has been handed over to your control. Please log in with this mail address to take data and settings or to change them: ') }} {{ login_url }}</p>
<p>{{_('If you have received a sensor by mistake, please report this at info@luftdaten.info.') }}</p>
<p>{{_('Sincerely,
    Your Luftdaten.info team') }} 
</p>

