<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="{% block meta_description %}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <p>{{ _('Hello,') }} </p>

        <p>{{ _('a fine dust sensor has been registered for you. Please log in with this mail address to take in or change data and settings: ') }} {{ login_url }}</p>
        <p>{{ _('If the sensor was registered for you by mistake, please report this to tech@sensor.community.') }}</p>
        <p>{{ _('Sincerely,
            Your Sensor.Community team') }}
        </p>
    </body>
</html>