{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block head %}
    {{ super() }}
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative bg-gradient-to-b from-brand-white to-gray-50">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-6">
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-5xl font-extrabold text-black tracking-tight sm:text-5xl">
                        {{ _('Change password') }}
                    </h1>
                </div>
                <div class="hidden md:inline">
                    <p class="mt-6 text-xl antialiased">
                        {{ _('Here you can change your settings.') }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-12 bg-gradient-to-b from-brand-white to-gray-50">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:max-w-7xl">
            <div class="mt-10 sm:mt-0">
                <div class="md:grid md:grid-cols-3 md:gap-6">
                    <div class="md:col-span-1">
                        <div class="px-4 sm:px-0">
                            <h3 class="text-lg font-medium leading-6 text-gray-900">{{ _('Change password') }}</h3>
                            <p class="mt-1 text-sm text-gray-600">{{ _('Here you can change your settings.') }}</p>
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:col-span-2">
                        <form action="{{ url_for_security('change_password') }}" method="POST"
                              name="change_password_form">
                            <div class="shadow overflow-hidden sm:rounded-md">
                                <div class="px-4 py-5 bg-white sm:p-6">
                                    <div class="grid grid-cols-6 gap-6">
                                        <div class="col-span-6 sm:col-span-6">
                                            {{ render_field_with_errors(change_password_form.password) }}
                                        </div>

                                        <div class="col-span-6">
                                            {{ render_field_with_errors(change_password_form.new_password) }}
                                        </div>

                                        <div class="col-span-6">
                                            {{ render_field_with_errors(change_password_form.new_password) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                                    {{ change_password_form.submit(class="btn-small btn-small-primary") }}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
