{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "_formhelpers.html" import render_submit %}


{% block content %}
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-32">
        <div class="mx-auto text-center md:text-left max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid
        lg:grid-cols-2 lg:gap-24">
            <div class="mt-10">
                <div class="inline-flex space-x-4">
                    <img alt="sensor community logo" class="h-8 w-auto"
                         src="/static/images/signet.svg">
                    <span class="py-1 font-semibold text-brand-yellow tracking-wide uppercase">
                  Sensor.Community
                </span>
                </div>
                <div class="mt-6 sm:max-w-xl">
                    <h1 class="text-5xl font-extrabold text-black tracking-tight">
                        {{ _('Request password reset') }}
                    </h1>
                    <div class="">
                        <p class="mt-6 text-xl ">
                            {{ _('Trouble Logging In? Enter your email and we willl send you a link to get back into your account.') }}
                        </p>
                        <form action="{{ url_for_security('forgot_password') }}" method="POST"
                              name="forgot_password_form"
                              class="space-y-6">
                            {{ forgot_password_form.hidden_tag() }}
                            <div class="space-y-1">
                                <label for="email" class="block text-sm font-medium text-gray-700">
                                    Email address
                                </label>
                                <div class="mt-1">
                                    {{ forgot_password_form.email(class_='appearance-none block w-full px-3 py-2 border border-gray-300
                                                                                                   rounded-md shadow-sm placeholder-gray-400 focus:outline-none
                                                                                                   focus:ring-brand-green focus:border-brand-green sm:text-sm') }}
                                </div>
                            </div>

                            <div>
                                <button type="submit">
                                    {{ forgot_password_form.submit(class='btn btn-primary') }}</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
