# Sample configuration for development purposes. Copy this over to
# `webapp/config.py`. You can override any variables set in
# `webapp/default_settings.py`.

from webapp.default_settings import LANGUAGES


# Enable debugging
DEBUG = True

# Disable mail sending (this will print out mail contents to default logger)
MAIL_SUPPRESS_SEND = True

SECRET_KEY = SECURITY_PASSWORD_SALT = 'dummysecret'

# add additional languages
LANGUAGES.update({
    'de': 'Deutsch'
})